* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbarbgcolor {
    background-color: #ED1B23;
}

.nav-link {
    color: white !important;
}

.border {
    border: 2px solid black;
}